<style>
    #addLocalNotification {
        min-width: 50px;
        min-height: 50px;
        background: red;
    }
</style>
<div id="title" class="title-section">RECORDATORIOS</div>
<div>
    <div><input type="number" name="year" placeholder="year"></div>
    <div><input type="number" name="month" placeholder="month"></div>
    <div><input type="number" name="day" placeholder="day"></div>
    <div><input type="number" name="hours" placeholder="hours"></div>
    <div><input type="number" name="minutes" placeholder="minutes"></div>
    <div><input type="number" name="seconds" placeholder="seconds"></div>
    <div><input type="number" name="milliseconds" placeholder="milliseconds"></div>
    <div id="addLocalNotification">Add it!</div>
</div>